
  <!-- <div class="row"> -->
  <% @restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-sm-6 col-lg-4 remove-padding">
      <%= link_to restaurant_path(restaurant) do %>
    <div class="card-trip">
        <%= cl_image_tag restaurant.photo%>
        <%# default profil pic should be added %>
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <h3><%= restaurant.location %></h3>
            <span class="extra-details">
              <div>
             <% restaurant.reservations.each do |reservation|rating %>
             <%= reservation.rating %>
             <% end %>
              </div>
              <h4>open <%= restaurant.open_hour%>:00 - <%= restaurant.close_hour %>:00 </h4>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
<!-- </div> -->


