<%= link_to restaurant_path(restaurant) do %>
  <div class="restaurant-infowindow-image"  style="background-image: url(<%= restaurant.photo %>)"></div>

  <div class="restaurant-infowindow-title"><h2><%= restaurant.name %></h2></div>

  <div class="restaurant-infowindow-location"><h3><%= restaurant.location %></h3></div>

  <span class="restaurant-infowindow-hours"> open from <%= restaurant.open_hour %>h till <%= restaurant.close_hour %>h </span>
<% end %>
