<div class="reserve-modal" id="simple-modal">
  <div class="reserve-modal-content">
    <span class="close" id="close">&times</span>
   <%= simple_form_for [@restaurant, @reservation] do |f| %>
    <%= f.text_field :name, :placeholder => 'Name for reservation'  %>
    <%= f.input :date, as: :string,  input_html: { id: 'datepicker'} %>
    <%= f.input :time, as: :string, input_html: {id: 'timepicker'} %>
    <%= f.text_field :guests, :placeholder => 'Number of guests' %>
    <%= f.submit %>
<% end %>

  </div>
</div>
