<% if !@reservation.nil?  %>

  <div class="reserve-sucess-modal" id="reservation-sucess">
    <div class="reservations-container" >
      <div><p>your reservation has been confirmed!</p></div>
      <br>
      <div>reservation at:</div>
      <div><%= current_user.reservations.last.restaurant.name %></div>
      <div>name of reservation:</div>
      <% if !current_user.reservations.last.name.nil? %>
        <%= @reservation.name %>
      <% end %>

    <div>at:</div>
    <div>
      <%= current_user.reservations.last.date.strftime("%e %b") %>
    </div>
    <div>at:</div>
    <%= current_user.reservations.last.restaurant.location %>
    <div>for:</div>
    <div> <%= current_user.reservations.last.guests %> </div>
    <%= link_to 'Back to restaurant', restaurant_path(current_user.reservations.last.restaurant), :class => "btn btn-primary my-2" %>
    <%= link_to 'Back to home', restaurants_path, :class => "btn btn-secondary"%>
    </div>

  </div>
<% end %>
