<div class="reserve-modal" id="simple-modal">
  <div class="reserve-modal-content">
    <div data-open_hour="<%= @restaurant.open_hour %>" id="reserve-open-hour"></div>
       <div data-close_hour="<%= @restaurant.close_hour %>" id="reserve-close-hour"></div>
    <span class="close text-danger" id="close">&times</span>
   <%= simple_form_for [@restaurant, @reservation] do |f| %>
    <%= f.text_field :name, :placeholder => 'Name for reservation', :class => "center-reservation-name"  %>
    <%= f.input :date, as: :string,  input_html: { id: 'datepicker'} %>
    <%= f.input :time, as: :string, input_html: {id: 'timepicker'} %>
    <%= f.text_field :guests, :placeholder => 'Number of guests' %>
    <%= f.button :submit, "make a reservation", class: "btn btn-primary" %>
<% end %>
  </div>
</div>
