<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <%= link_to restaurants_path, class: "navbar-brand" do %>
        <%= image_tag "https://webstockreview.net/images/clipart-restaurant-lunch-restaurant-13.png", :transformation => {:dpr => "auto", :responsive => true, :width => "auto:high" , :quality=>"auto", :fetch_format=>:auto} %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search",
        placeholder: "Search restaurant name or location" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if  user_signed_in? %>
      <span class="navbar-text">Welcome <%= current_user.username.capitalize %>!</span>
      <li class="nav-item <%= "active" if current_page?(root_path) %>">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if current_page?(new_restaurant_path) %>"> <!-- FALTA CAMBIAR ROOT -->
        <%= link_to "Create Restaurant",  new_restaurant_path, class: "nav-link" %>

      </li>
<!--       <li class="nav-item <%= "active" if current_page?(restaurants_path) %>">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li> -->

      <li class="nav-item dropdown ">
        <%= link_to "Profile", user_path(current_user), method:'get', class: "nav-link navbar-avatar-mobile" %>
        <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "nav-link navbar-avatar-mobile" %>

      </li>



      <li class="nav-item dropdown navbar-avatar">
        <%=  cl_image_tag current_user.photo, class: "avatar dropdown-toggle", crop: :scale, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", user_path(current_user), method:'get', class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item <%= "active" if current_page?(new_user_session_path) %>">
        <%= link_to "Log in", new_user_session_path, method: 'get', class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if current_page?(new_user_registration_path) %>">
        <%= link_to "Sign Up", new_user_registration_path, method: 'get', class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
