<div class="user-info d-flex">
  <h2><%= @user.username.capitalize %></h2>
  <%= cl_image_tag @user.photo, class: "avatar-small ml-5" %>
</div>

<div class="user-description-content">
  <% if @user.description.nil? %>
  <p >this user hasn't made a descriontion of themselves yet! Please check again later.</p>
  <% else %>
  <p><%= @user.description %></p>
  <% end %>
  <% if current_user = @user %>
    <% if @user.description.nil? %>
      <div class="user-desciptioon-button">
        <button class="btn btn-primary"  data-toggle="modal" data-target="#user-description"> add description</button>
      </div>
    <% else %>
    <div class="user-desciptioon-button">
      <button class="btn btn-primary"  data-toggle="modal" data-target="#user-description">edit</button>
    </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="restaurant-carousel">
<% @user.restaurants.each do |restaurant| %>
  <%= cl_image_tag restaurant.photo, :class => "restaurant-carousel-card pl-3 pt-3", :width => 50 %>
<% end %>
</div>
</div>


<div class="modal fade" id="user-description" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user] do |f| %>
        <%= f.input :description,  :input_html => { 'rows' => 4, maxlength: 239} %>
        <%= f.submit :class => "btn btn-primary" %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!-- <div class="user-show-layout">
  <div class="user-box">
    <div class="user-show-avatar">
      <h2><%= @user.username.capitalize %></h2>
      <%= cl_image_tag @user.photo, class: "style_image" %>
      <div class="user-description-content"><p>user discription will go here, yada yada yada!</p></div>
    </div>
</div>

<div class="right-side-content">
  <div class="user-show-card-container">
    <div class="row  "><p class="your-restaurants">your restaurants</p></div>
    <div class="row"><%= render 'components/user-cards', restaurants: @user.restaurants  %>

    </div>
  </div>

 <%  @user.reservations.each do |reservation| %>
  <span class="user-show-reservations mb-1 border-bottom border-danger">
    <div class="pr-5 " ><%= reservation.restaurant.name %></div>
    <div class="pr-5" ><%= reservation.restaurant.location %></div>
    <% if reservation.date != nil &&  reservation.time != nil  %>
      <%= reservation.date.strftime(" %m/%d/%Y") %> <%= reservation.time.strftime("%H:%M ") %>
    <% end %>

    </span>
  <% end %>

</div>
-->
