<div class="user-show-layout">
  <div class="user-box">
    <div class="user-show-avatar">
      <h2><%= @user.username.capitalize %></h2>
      <%= cl_image_tag @user.photo, class: "style_image" %>
      <div class="user-description-content"><p>user discription will go here, yada yada yada!</p></div>
    </div>
</div>

<div class="right-side-content">
  <div class="user-show-card-container">
    <div class="row  "><p class="your-restaurants">your restaurants</p></div>
    <div class="row"><%= render 'components/user-cards', restaurants: @user.restaurants  %>

    </div>
  </div>

 <%  @user.reservations.each do |reservation| %>
  <span class="user-show-reservations mb-1 border-bottom border-danger">
    <div class="pr-5 " ><%= reservation.restaurant.name %></div>
    <div class="pr-5" ><%= reservation.restaurant.location %></div>
    <% if reservation.date != nil &&  reservation.time != nil  %>
      <%= reservation.date.strftime(" %m/%d/%Y") %> <%= reservation.time.strftime("%H:%M ") %>
    <% end %>

    </span>
  <% end %>

</div>
