
<div class="reservation-confirmed-text">
  <h1>your resservation has beeen confirmed!</h1>
  <h2>you can view your reservation in your <%= link_to " user page", user_path(current_user), method:'get', :class => "reservation-user-page-link" %> </h2>
  <h4>restaurant name:</h4>
  <h4> <%= @reservation.restaurant.name %></h4>

  <%= link_to restaurant_path(@reservation.restaurant) do %>
  <div>
    <%= cl_image_tag @reservation.restaurant.photo, :transformation => {:dpr => "auto", :responsive => true, :width => "auto:high" , :quality=>"auto", :fetch_format=>:auto}, :class => "reservation-restaurant-image"  %>
  </div>
  <% end %>
<% if !@reservation.date.nil? && !@reservation.time.nil? %>
  <div class="reservation-restaurant-time">
<%= @reservation.date.strftime("%e %b") %> <%= @reservation.time.strftime("%H:%m") %>
</div>

<% end %>

<div class="reservation-restaurant-address"> <p><%= @reservation.restaurant.location %></p>  </div>

<div class="reservation-restaurant-guests"> <p> for <%= @reservation.guests %> guests </p>  </div>

<div class="container button-block ">

<%= link_to 'Back to restaurant', restaurant_path(@reservation.restaurant), :class => "btn btn-primary btn-block" %>

<%= link_to 'Back to home', restaurants_path, :class => "btn btn-outline-primary btn-block" %>
</div>




