<% if @active %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <%= render 'components/cards', restaurants: @restaurants  %>
      </div>
      </div>
    </div>

    <div class="col-md-6 fixed"
    id="map"
    style="height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>
<% else %>
<%= render 'components/banner' %>
<div class="container">
  <div class="row">
    <%= render 'components/cards', restaurants: @restaurants  %>
    </div>
     </div>
</div>
<% end %>

