  <div class="container hola">
<div class="fondo">
  <div class="row">
      <div class="col-md-6 offset-md-3">
<h1>Restaurants#new</h1>
<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %> 
  <%= f.input :location %>
  <%= f.input :capacity %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :open_hour, placeholder: "military-time" %>
  <%= f.input :close_hour, placeholder: "military-time" %>
  <%= f.submit %>
<% end %>
</div>
</div>
</div>
</div>


