 <div class="container hola">
<div class="fondo">
  <div class="row">
      <div class="col-md-6 offset-md-3">
<h1>Restaurant's</h1>
<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :capacity, input_html: {min: 1} %>
  <%= f.input :photo, label: 'add cover photo' %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :open_hour,  as: :string %>
  <%= f.input :close_hour, as: :string %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
</div>


