<!-- <div class="container">
  <div id="restaurant-photo">
<%= cl_image_tag @restaurant.photo, height: 600, width: 600, crop: :fill %>
  </div>
</div> -->

     <%= render 'components/modal-reserve' %>


<div class="container restaurant-show">


    <%= cl_image_tag @restaurant.photo, :class => "restaurant-photo" %>


   <div class="restaurant-content">
     <h1><%= @restaurant.name %></h1>
     <h2><%= @restaurant.location %></h2>
      <h3>   seats available: <%= @restaurant.capacity %></h3>
     <h3>open from: <%= @restaurant.open_hour %>h - to: <%= @restaurant.close_hour %></h3>
     <button type="button" class="btn btn-secondary" id="reserve-button">make a reservation!</button>


   </div>

   <div class="reviews">
    <h4>rating</h4>
    <div id="stars">
      <% if rating = @restaurant.average_rating %>
        <% rating.round.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% end %>
    </div>
   </div>

   <div class="bottom-section">
   <h4 class="host-by">hosted by chef <%= @restaurant.user.username.capitalize %> </h4>
   <div>
  
    <%= cl_image_tag @restaurant.user.photo, class: "avatar"%>
    
     
   </div>
   </div>
</div>

<!--
<%= link_to "set a reservation", new_restaurant_reservation_path(@restaurant) %>

<%= link_to 'Back to home', restaurants_path %>

<%= link_to 'Delete restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you super duper sure?" }%>
 -->

<!--   <%= link_to @restaurant.user.username.capitalize, user_path(@restaurant.user) %>
      <img src="#" alt="" width="40px">
      contact! <%= @restaurant.user.email %> -->

