<h1>Restaurants#show</h1>

<ul>
<li>Name: <%= @restaurant.name %></li>
<li>Location: <%= @restaurant.location %></li>
<li>capacity: <%= @restaurant.capacity %></li>
<li>from: <%= @restaurant.open_hour %>h</li>
<li>to: <%= @restaurant.close_hour %>h</li>
</ul>
