<!-- <div class="container">
  <div id="restaurant-photo">
<%= cl_image_tag @restaurant.photo, height: 600, width: 600, crop: :fill %>
  </div>
</div> -->

<%= render 'components/modal-reserve' %>


<div class="container restaurant-show">

  <%= cl_image_tag @restaurant.photo, :class => "restaurant-photo" %>

   <div class="non_pic_content">
   <div class="restaurant-content">
     <h1><%= @restaurant.name %></h1>
     <h2><%= @restaurant.location %></h2>
      <h3>   seats available: <%= @restaurant.capacity %></h3>
     <h3>open from: <%= @restaurant.open_hour %>h - to: <%= @restaurant.close_hour %></h3>
     <button type="button" class="btn btn-secondary" id="modal-trigger">make a reservation!</button>

   <% if current_user.reservations.where(restaurant_id: @restaurant.id).empty?  %>
   <button type="button" class="btn btn-secondary" id="reserve-button">make a reservation!</button>
   <% elsif !@user_reservation.rating %>
   <%= simple_form_for (@user_reservation) do |f| %>
   <%= f.input :rating, collection: (1..5).to_a %>
   <%= f.submit value: "Add your rating" %>
   <% end %>
   <% else %>
      <div class="reviews">
        <div id="stars">
          <% current_user.reservations.each do |reservation| %>
            <% reservation.rating %>
          <% end %>
          <% if rating = @restaurant.average_rating %>
            <% rating.round.times do %>
            <i class="fas fa-star"></i>
            <% end %>
          <% end %>
        </div>
   <% end %>
 </div>



<<<<<<< HEAD

</div>
<div class="bottom-section">
 <h4 class="host-by">hosted by chef <%= @restaurant.user.username.capitalize %> </h4>
 <div class="avatar" id="avatar-gray"></div>
</div>
=======
<%= link_to "detroy me", restaurant_path(@restaurant), method: 'delete'  %>

   <div class="bottom-section">
   <div>

    <%= cl_image_tag @restaurant.user.photo, class: "avatar"%>


   </div>
   </div>
 </div>

>>>>>>> 074c074e37662367f6d624f80092c326c8664111
</div>

<!--
<%= link_to "set a reservation", new_restaurant_reservation_path(@restaurant) %>

<%= link_to 'Back to home', restaurants_path %>

<%= link_to 'Delete restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you super duper sure?" }%>
-->

<!--   <%= link_to @restaurant.user.username.capitalize, user_path(@restaurant.user) %>
      <img src="#" alt="" width="40px">
      contact! <%= @restaurant.user.email %> -->

